
.MainPopup_div{
width: 60vw;
min-height: 200px;
background-color: rgb(255, 255, 255);
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50% );
box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;border-radius: 10px;

}

.BackDrop{
width: 100vw;
height: 100vh;
background-color: rgba(69, 69, 69, 0.296);
position: fixed;
top: 0px;
left: 0px;
}
    
.close_popup_button{
/* background-color: rgb(59, 165, 165); */
text-align: end;
margin-top: -20px;
}
.close_popup_button>button{
    background-color: rgb(255, 255, 255);
   border: none;
   margin: -20px;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   transition: 0.3s ease-in-out;
    }
.close_popup_button>button:hover{
background-color: rgb(255, 0, 0);
}